---
layout: default
---
<!-- Add your site or application content here -->
<header id="header">
	<div class="content">
		<h1><a href="#">Christopher Zhong</a></h1>
		<h2>Software Engineer</h2>
		<ul class="actions">
			<li><a href="#bio" class="button icon fa-chevron-down scrolly">Learn More</a></li>
		</ul>
	</div>
	<div class="image phone">
		<div class="inner">
			<img src="img/avatar-compressor.png" alt="" />
		</div>
	</div>
</header>

<section id="bio" class="wrapper style2">
	<div class="inner">
		<header class="major">
			<h2>Bio</h2>
			<p>Who I am.</p>
		</header>
		<section>
			<span class="image left"><img src="img/me-compressor.jpg" alt="" /></span>{% capture bio %}{% include bio.md %}{% endcapture %}{{ bio | markdownify }}
		</section>
	</div>
</section>

<section id="education" class="wrapper">
	<div class="inner">
		<header class="major">
			<h2>Education</h2>
			<p>Where I have studied.</p>
		</header>
		<section class="spotlight">
			<div class="image"><img src="img/graduation-hat-compressor.svg" alt="" /></div>
			<div class="content">
				<p>{% capture education %}{% include_relative md/education.md %}{% endcapture %}{{ education | markdownify }}</p>
			</div>
		</section>
	</div>
</section>
